#subtitulo {
      font-size: 20px;         /* deixa grandinha */
      color: #ff4da6;        /* rosa chamativo */
      font-weight: bold;       /* negrito */
      text-align: left;        /* centralizado */
      font-family: 'Segoe UI', sans-serif; /* fonte elegante */
      background: linear-gradient(90deg, #ffb6f9, #ff4da6); /* degradê rosa */
      background-clip: text;
      -webkit-text-fill-color: transparent; /* texto com degradê */
      text-shadow: 2px 2px 8px rgba(255, 0, 128, 0.3); /* brilho suave */
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 20px;
            }
.titulo {
        font-size: 30px;
        color:#ff4da6;
        text-align: left;
        background:#ffb6f9;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
        margin-right: 20px;
        }
.conteiner-1, .titulo, #subtitulo {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}